html
  head
    title Express-Recaptcha example
  body
    h1 Express-Recaptcha example
    if (captcha)
        form(method="POST", action="/")
            p !{captcha}
            button(type='submit') Verify captcha
            br
            if (path === '/dark')
                a(href="/") Light Theme
            else
                a(href="/dark") Dark Theme
    else
        if (error)
            div(style="color:red") Error : #{error}
        else
            div(style="color:green") Data : #{data}
        a(href="/") Retry